<!DOCTYPE html>
<html>
  <head>
    <title>Weatherly Family Photos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all',  'data-no-turbolink': 'true'  %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
