/*overriding bootstrap default*/
.nav-tabs > li.active > a{
    background-color: rgba(255, 255, 255, .8);
}
.nav-tabs > li> a{
    background-color: rgba(255, 255, 255, .8);
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
    color: #282828;
}
.page-tabs{
    padding-bottom: 10px;
}

/*thanks to keith clark: http://keithclark.co.uk/articles/pure-css-parallax-websites/*/
.parallax-container{
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective-origin: 100%;
    perspective-origin-x: 100%;
    position: relative;

}

.parallax-layer{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform-origin: 100%;
    transform-origin-x: 100%;
}

.foreground{
    transform: translateZ(0);
}

.background{
    transform: translateZ(-1px) scale(2);
    font-size: 300%;
    padding: 100%;
    background-image: url("http://www.weatherly.tech/blue_cream_wallpaper.jpg");
    left: -10px;
}

.foreground{
    margin: 50px;
    margin-top: 10px;
}

h1, h2, h3, h4, h5{
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}

h1 span, h2 span, h3 span, h4 span, h5 span{
    background-color: rgba(40, 40, 40, .8);
    padding: 5px 10px;

    box-shadow: 0 0 20px rgba(40, 40, 40, 0.8);
    color: rgba(255,255,255,.8);
    font-weight: normal;
}

.home-contents{
    text-align: center;
}

.home-contents div{
    text-align: left;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(255, 255, 255, .9);
    color: rgba(40, 40, 40, .8);
    display: inline-block;
    padding: 5px 10px;
    box-shadow: 0 0 20px rgba(40, 40, 40, 0.9);
    font-weight: normal;
    margin: 20px;
    margin-top: 0px;
    max-width: 80%;
    font-size: 14px;
}
