
/*overriding default styling*/
.thumbnail{
    padding: 0px;
    margin: 10px;
    border: none;
    border-radius: 0px;
    box-shadow: 0 0 20px rgba(0,0,0, 0.6);
}

.img-thumbnail{
    padding: 0px;
}

.overlay-panel{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding: 10px;
    color: rgb(255,255,255);
    background-color: rgba(0,0,0,.7);
    visibility: hidden;
    line-height: normal;

    display: grid;
}

.overlay-panel div{
    width: inherit;
    text-align: center;
    overflow:hidden;
}

.header,.when,.where{
    font-size: 18px;
    /*make font size from thumbnail width*/
    text-overflow: ellipsis;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.thumbnail:hover div{
	visibility: visible;
}

.thumbnail:hover{
	/*background-color: #ccffcc;*/
    box-shadow: 0 0 20px rgba(255,255,255, 0.6);
}

.header,.when,.where{
    font-family: 'Raleway', sans-serif;;
}

.col-centered{
    display: inline-block;
    float: none;text-align: left;
    margin-right: -4px;
}
