/*FOR SHOW*/
.foreground{
    padding: 25px;
}

.show-relative-photo img{
    box-shadow: 0 0 20px rgba(0,0,0, 0.6);
}

.show-relative-photo.landscape img{
    width: 50%
}

.show-relative-photo.portrait img{
    width: 25%
}

.show-relative-photo{
    text-align: center;
}

div{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: rgba(255,255,255,.8);
}

h1, h2, h3, h4, span, a{
    background-color: rgba(40, 40, 40, .8);
    display: inline-block;
    padding: 5px 10px;
    box-shadow: 0 0 20px rgba(40, 40, 40, 0.8);
    color: rgba(255,255,255,.8);
    font-weight: normal;
}

a:hover{
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
}

a:hover span{
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
}
/*edit button*/
.edit-relative-button span{
    padding: 0px;
    background-color: rgba(0,0,0,0);
    box-shadow: none;
}


a.edit-relative-button.btn-lg{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-top: 4px;
}

/*edit and back button wrapper*/
.edit-and-back{
    padding: 0px;
    background-color: rgba(0,0,0,0);
    box-shadow: none;
    margin: 5px;
}

/* parents */
.relative-parents span{
    margin-bottom: 5px;
}

.relative-label a{
    padding: 0px;
    font-weight: bold;
    background-color: rgba(0,0,0,0);  /*taken care of by surrounding span*/
    box-shadow: none;
}

/*parent button*/
.relative-button span{
    background-color: rgba(0,0,0,0);  /*taken care of by surrounding link*/
    box-shadow: none;
    margin: 0px;
}

.relative-button .glyphicon{
    padding-left: 0px;
    padding-right: 0px;
}

a.relative-button{
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 5px;

}

a.relative-button:hover span{
    font-weight: bold;
    color: #ffffff;
}

/*specifically parent add button*/
a.add-parent-link{
    width: 133px;
}

.add-parent-text{
    padding-left: 5px;
    padding-right: 0px;
}

/*marriages*/

span.marriage-label{
    margin-bottom: 5px;
}

a.relative-spouse-name{
    padding: 0px;
    font-weight: bold;
    background-color: rgba(0,0,0,0);  /*taken care of by surrounding span*/
    box-shadow: none;
}


/*button with text*/
/*combine with add parent button*/
.relative-button-with-text span{
    background-color: rgba(0,0,0,0);  /*taken care of by surrounding link*/
    box-shadow: none;
}

.relative-button-with-text .glyphicon{
    padding-left: 0px;
    padding-right: 0px;
}

a.relative-button-with-text{
    padding-top: 3px;
    padding-bottom: 3px;
    width: 133px;
}

a.relative-button-with-text:hover span{
    font-weight: bold;
    color: #ffffff;
}

.event-link-text{
    padding-left: 5px;
    padding-right: 0px;
}


/*parallax scrolling*/
.parallax-container{
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective-origin: 100%;
    perspective-origin-x: 100%;
    position: relative;

}

.parallax-layer{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform-origin: 100%;
    transform-origin-x: 100%;
}

.foreground{
    transform: translateZ(0);
}

.background{
    transform: translateZ(-1px) scale(2);
    font-size: 300%;
    padding: 100%;
    background-image: url("https://s-media-cache-ak0.pinimg.com/736x/5b/ed/7a/5bed7a9ad78bda72344c688b0b69335d.jpg");
    left: -10px;
}
