/*thanks to keith clark: http://keithclark.co.uk/articles/pure-css-parallax-websites/*/
.parallax-container{
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective-origin: 100%;
    perspective-origin-x: 100%;
    position: relative;

}

.parallax-layer{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform-origin: 100%;
    transform-origin-x: 100%;
}

.foreground{
    transform: translateZ(0);
}

.background{
    transform: translateZ(-1px) scale(2);
    font-size: 300%;
    padding: 100%;
    /*background-image: url("green-wallpaper.jpg");*/
    /*background-image: url('/assets/green-wallpaper.jpg');*/
    background-image: url("http://www.weatherly.tech/blue_cream_wallpaper.jpg"); /*url("https://s-media-cache-ak0.pinimg.com/736x/5b/ed/7a/5bed7a9ad78bda72344c688b0b69335d.jpg");*/
    left: -10px;
}

/*overriding bootstrap default*/
.nav-tabs > li.active > a{
    background-color: rgba(255, 255, 255, .8);
}

.row-centered{
    text-align: center;
}

#navbar-label{
    font-weight: bold;
}

.page-tabs{
    padding-bottom: 10px;
}

h1{
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

h3{
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
    color: #282828;
    text-align: left;
    margin-bottom: 0px;

}
h3 span{
    background-color: rgba(40, 40, 40, .8);
    padding: 5px 10px;
    box-shadow: 0 0 20px rgba(40, 40, 40, 0.8);
    color: rgba(255,255,255,.8);
    font-weight: normal;
}

h1 span{
    background-color: rgba(40, 40, 40, .8);
    padding: 5px 10px;
    box-shadow: 0 0 20px rgba(40, 40, 40, 0.8);
    color: rgba(255,255,255,.8);
    font-weight: normal;
}

a{
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
    color: #282828;
}

li{
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
}

p{
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
}

.foreground{
    margin: 50px;
    margin-top: 10px;
}

hr {
    padding: 0;
    border: none;
    border-top: medium double rgba(40,40,40,.8);
    color: rgba(40,40,40,.8);
    text-align: center;

}

hr:after {
    content: "§";
    color: rgba(40,40,40,.8);
    display: inline-block;
    position: relative;
    top: -0.85em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: rgba(0,0,0,0);
}

/*button with text*/
/*combine with add parent button*/
.new-relative-wrapper{
    text-align: center;
}

a.relative-button-with-text{
    background-color: rgba(40,40,40,.8);  /*taken care of by surrounding link*/
    color: rgba(255, 255, 255, .8);
    display: inline-block;
    box-shadow: 0 0 20px rgba(40, 40, 40, 0.8);
    color: rgba(255,255,255,.8);
    font-weight: normal;
    width: 133px;
    font-family: 'Raleway', sans-serif;
}

.relative-button-with-text .glyphicon{
    padding-left: 0px;
    padding-right: 0px;
}

a.relative-button-with-text{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 133px;
}

a.relative-button-with-text:hover span{
    font-weight: bold;
    color: #ffffff;
}

.new-relative-text{
    padding-left: 5px;
    padding-right: 0px;
}

@media (max-width:1230px){
    /*for any screen up until width == 1150, don't show scrollspy*/
    #scrollspy-nav{
        display:none;
    }
}
