.event-info{
    background-color: rgba(40, 40, 40, .8);
    display: inline-block;
    position: relative;
    padding: 5px 10px;
    box-shadow: 0 0 20px rgba(40, 40, 40, 0.8);
    font-weight: normal;
    margin: 8px 0px;
    margin-top: 0px;
    border-radius: 10px;
}

.event-info span, .event-info a{
    background-color: transparent;
    display: inline-block;
    padding: 0px;
    box-shadow: none;
}

.event-info a{
    color: rgba(255, 255, 255, .8);
    font-weight: bold;
}

.event-info a:hover{
    color: #ffffff;
}

.event-tag-delete{
    padding: 0px;
}

.when-where{
    background-color: rgba(255, 255, 255, .8);
    color: #282828;
}

table{
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}
tr{
  width: 100%;
}
td{
  width: 30%;
  text-align: center;
  position: relative;
  word-wrap: normal;
}

.dot{
  width: 10px;
  height: 10px;
  /*background-color: rgba(255, 255, 255, .8);*/
  background-color: rgba(40,40,40,.8);
  border-radius: 100px;
  transform: translate(-6px,-5px)
}

.dot:hover{
  width: 14px;
  height: 14px;
  transform: translate(-8px,-7px);
  background-color: rgba(40, 40, 40, 1);
}

.line{
  border-left: solid 2px;
  border-color: rgba(40,40,40,.6);
  position: absolute;
  left: 49%;
  top: 0;
  height: 100%;
  width: 100%;
}

tr:last-child .line{
    border-color: rgba(0,0,0,0);
}

.col1{
  text-align: right;
  vertical-align: top;
}

.col1 .event-info{
    border-top-right-radius: 0px;
}

.col3{
  text-align: left;
  vertical-align: top;
}

.col3 .event-info{
    border-top-left-radius: 0px;
}

.col2{
  width: 2%;
}

.event-tag{
    font-weight: normal;
}


/*TOOLTIP STYLE FROM W3SCHOOLS*/
/* Tooltip container */
/*.tooltip {
    position: relative;
    display: inline-block;
}*/

/* Tooltip text */
.dot-wrapper{
    width: 0px;
}

.dot-wrapper .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #282828;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;

    /* so the tooltip is below*/
    margin-left: -61px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.dot-wrapper:hover .tooltiptext {
    visibility: visible;
}


/*TOOLTIP ARROW*/
.dot-wrapper .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #282828 transparent;
}

/*TOOLTIP TEXT STYLING*/
.dot-wrapper span, .dot-wrapper a{
    background-color: transparent;
    display: inline-block;
    padding: 0px;
    box-shadow: none;
}
