/*thanks to keith clark: http://keithclark.co.uk/articles/pure-css-parallax-websites/*/
.parallax-container{
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective-origin: 100%;
    perspective-origin-x: 100%;
    position: relative;

}

.parallax-layer{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform-origin: 100%;
    transform-origin-x: 100%;
}

.foreground{
    transform: translateZ(0);
}

.background{
    transform: translateZ(-1px) scale(2);
    font-size: 300%;
    padding: 100%;
    background-image: url("https://s-media-cache-ak0.pinimg.com/736x/5b/ed/7a/5bed7a9ad78bda72344c688b0b69335d.jpg");
    left: -10px;
}
