.foreground{
    background-image: url("blue_cream_wallpaper.jpg"); /*url("https://s-media-cache-ak0.pinimg.com/736x/5b/ed/7a/5bed7a9ad78bda72344c688b0b69335d.jpg");*/
    height: 120vh;
    padding: 25px;
}

.edit-back-delete{
    padding: 5px;
    background-color: rgba(0,0,0,0);
    box-shadow: none;
    margin: 5px;
}

.edit-back-delete span{
    padding: 5px 10px;
}

h1 span{
    background-color: rgba(40, 40, 40, .8);
    padding: 5px 10px;
    box-shadow: 0 0 20px rgba(40, 40, 40, 0.8);
    color: rgba(255,255,255,.8);
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
}

.relative-profile-photo{
    padding-top: 10px;
}

.relative-profile-photo .photo-label{
    padding: 5px 10px;
    font-family: 'Raleway', sans-serif;
}

h1{
    padding-top: 5px;
    margin-top: 0px;
}

div{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

textarea, input{
    background-color: rgba(255,255,255,.8);
    border: none;
    padding: 5px;
    margin: 5px;
    box-shadow: 0 0 20px rgba(40, 40, 40, 0.8);
    border-radius: 3px;
}

input{
    text-align: center
}

.relative-profile-photo input{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.photo-content-text span{
    background-color: rgba(255, 255, 255, .8);
    color: rgba(40, 40, 40, 0.8);
    padding: 5px 10px;
    box-shadow: 0 0 20px rgba(40, 40, 40, 0.8);
    font-family: 'Raleway', sans-serif;
}

.photo-content-text{
    padding: 5px;
}

.remove-photo{
    padding-top: 5px;
}

.remove-photo span{
    background-color: rgba(40, 40, 40, .8);
    padding: 5px 10px;
    padding-top: 9px;
    box-shadow: 0 0 20px rgba(40, 40, 40, 0.8);
    color: rgba(255,255,255,.8);
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
}

.relative-sex {
    font-weight: bold;
}

.relative-button{
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 5px;
    background-color: rgba(40, 40, 40, 0.8);
    color: rgba(255, 255, 255, 0.8);
}

.relative-button:hover {
    font-weight: bold;
    color: #ffffff;
}
